services:
  emulatv-ui:
    build: ./frontend/emulatv-ui
    container_name: emulatv-ui
    networks:
      - emulatv
    volumes:
      - ui_build:/build

  emulatv-remote:
    build: ./frontend/remote-controller
    container_name: emulatv-remote
    networks:
      - emulatv
    volumes:
      - remote_build:/build

  emulatv-api:
    build: ./api/emulatv-api
    container_name: emulatv-api
    expose:
      - "8080"
    environment:
      - NODE_API_IP=emulatv-agent
      - NODE_API_PORT=3001
    networks:
      - emulatv
    depends_on:
      - postgres
  
  postgres:
    image: postgres:latest
    container_name: emulatv-database
    volumes:
     - postgres_data:/var/lib/postgres/data
    environment:
      POSTGRES_USER: emulatv
      POSTGRES_PASSWORD: emulatv
      POSTGRES_DB: emulatv
    networks:
      - emulatv
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: emulatv-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx-reverse-proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ui_build:/usr/share/nginx/html/ui
      - remote_build:/usr/share/nginx/html/remote:ro
      - ./frontend/emulatv-ui/public/icons:/usr/share/nginx/html/ui/icons
    depends_on:
      - emulatv-ui
      - emulatv-remote
      - emulatv-api
    networks:
      - emulatv
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  ui_build:
  remote_build:
  postgres_data:

networks: 
  emulatv: 
    driver: bridge