.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.okButton {
  width: 80px;
  height: 80px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
  grid-area: 3/ 2/ 4 / 3;
  border-radius: 100px 100px 100px;
}

.leftButton {
  width: 80px;
  height: 80px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
  grid-area: 3/ 1/ 4 / 2;
  border-radius: 25px 50px 50px 25px;
}

.rightButton {
  width: 80px;
  height: 80px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
  grid-area: 3/ 3/ 4 / 4;
  border-radius: 50px 25px 25px 50px;
}

.bottomButton {
  width: 80px;
  height: 80px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
  grid-area: 4/ 2/ 5 / 3;
  border-radius: 50px 50px 25px 25px;
}

.topButton {
  width: 80px;
  height: 80px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
  grid-area: 2/ 2/ 3 / 3;
  border-radius: 25px 25px 50px 50px;
}

.escapeButton {
  width: 80px;
  height: 80px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
  grid-area: 1/ 1/ 2 / 2;
  border-radius: 100px 100px 100px;
}