.service-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 200px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  text-decoration: none; /* remove the underline of the <a> balise */
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.service-block:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.service-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.service-overlay h1 {
  margin: 0;
  font-size: 1.1rem;
}