#root {
  max-width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
}